In [0]:
import pandas as pd
import seaborn as sns
from datetime import datetime
import numpy as np

In [0]:
data1=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_KeyIndicators')
data2=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_Action_Screen')
data3=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_Action_Call')
data4=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_COVID_News')
data5=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_NIH_Response')
data6=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_NIH_Risk')
data7=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_Province_Response')
data8=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_Helpline_Calls')
data9=pd.read_excel('COVID_FINAL_DATA.xlsx',sheet_name='TimeSeries_Quarantine_Details')

In [0]:
data1.columns=data1.columns.str.strip().str.lower().str.replace(' ','_')
data1.drop(['no_heading'],axis=1,inplace=True)
data1=data1.dropna(how='all')
data1=data1.fillna(0)
data1['date']=pd.to_datetime(data1['date'])
data1['tests__performed_in_last_24_hours']= data1['tests__performed_in_last_24_hours'].apply(np.int64)
data1['tests__performed_in_last_24_hours']=pd.to_numeric(data1['tests__performed_in_last_24_hours'])
data1['home_quarantine']=data1['home_quarantine'].apply(np.int64)
#datetime_object=datetime.now() 
#print(datetime_object)
#data1['date']=pd.to_datetime(data1['date'],format="%d/%m/%y/")
data1['date']=pd.to_datetime(data1['date'])
data1['date']=data1['date'].dt.strftime('%m/%d/%y')

In [0]:
data2.columns=data2.columns.str.strip().str.lower().str.replace(' ','_')
data2['date']=pd.to_datetime(data2['date'])
data2['date']=data2['date'].dt.strftime('%m/%d/%y')

date                                                     0
cumulative_travelers_screened                            0
suspected_at_points_of_entry                             0
travelers_screened_at_points_ofentry_in_last_24_hours    0
dtype: int64

In [0]:
data3.columns=data3.columns.str.strip().str.lower().str.replace(' ','-')
data3['date']=pd.to_datetime(data3['date'])
data3['date']=data3['date'].dt.strftime('%m/%d/%y')

returnees                           0
advised-self-quarantine             0
cumulative-no-offirst-time-calls    0
cumulativefollow-up-calls           0
date                                0
first-time-calls-inpast-24-hrs      0
follow-up-calls-inpast-24-hrs       0
dtype: int64

In [0]:
data4.columns=data4.columns.str.strip().str.lower().str.replace(' ','-')
data4.drop(['no_heading'],axis=1,inplace=True)
data4['date']=pd.to_datetime(data4['date'])
data4['date']=data4['date'].dt.strftime('%m/%d/%y')
data4.isnull().sum()

date        0
news        0
agg-news    0
dtype: int64

        date  ...                  agg-nih-preparedness-and-response
0   03/11/20  ...  BSL-3 mobile lab with state of art equipment h...
1   03/11/20  ...  BSL-3 mobile lab with state of art equipment h...
2   03/11/20  ...  BSL-3 mobile lab with state of art equipment h...
3   03/11/20  ...  BSL-3 mobile lab with state of art equipment h...
4   03/11/20  ...  BSL-3 mobile lab is ready for testing.  • \n I...
..       ...  ...                                                ...
60  03/21/20  ...  Contact tracing of confirmed cases being carri...
61  03/21/20  ...  Contact tracing of confirmed cases being carri...
62  03/21/20  ...  Contact tracing of confirmed cases being carri...
63  03/22/20  ...  Contact tracing of confirmed cases being carri...
64  03/22/20  ...  Contact tracing of confirmed cases being carri...

[65 rows x 3 columns]

In [0]:
data5.columns=data5.columns.str.strip().str.lower().str.replace(' ','-')
#data5.drop(['no_heading'],axis=1,inplace=True)
data5['date']=pd.to_datetime(data4['date'])
data5['date']=data5['date'].dt.strftime('%m/%d/%y')

date                                 0
nih-preparedness-and-response        0
agg-nih-preparedness-and-response    0
dtype: int64

                   date risk-assessment-nih
0           11-Mar-2020           MODERATE.
1           12-Mar-2020           MODERATE.
2           13-Mar-2020           MODERATE.
3           14-Mar-2020           MODERATE.
4           15-Mar-2020            Moderate
5           16-Mar-2020            Moderate
6           17-Mar-2020            Moderate
7           18-Mar-2020            Moderate
8           19-Mar-2020                High
9           20-Mar-2020                High
10          21-Mar-2020                High
11          22-Mar-2020                High
12          23-Mar-2020                High
13          24-Mar-2020                High
14          25-Mar-2020                High
15          26-Mar-2020                High
16          27-Mar-2020                High
17          28-Mar-2020                High
18          29-Mar-2020                High
19          30-Mar-2020                High
20  2020-03-31 00:00:00                High
21  2020-04-01 00:00:00                High
22  2020-04-02 00:00:00                High
23  2020-04-03 00:00:00                High

In [0]:
data6.columns=data6.columns.str.strip().str.lower().str.replace(' ','-')
#data6.drop(['no_heading'],axis=1,inplace=True)
#data6=data6.drop(['no_heading'],axis=1)
data6['date']=pd.to_datetime(data6['date'])
data6['date']=data6['date'].dt.strftime('%m/%d/%y')
data6['risk-assessment-nih']=data6['risk-assessment-nih'].str.lower()

In [0]:
data7.columns=data7.columns.str.strip().str.lower().str.replace(' ','-')
#data7.drop(['no_heading'],axis=1,inplace=True)
#data7=data7.drop(['no_heading'],axis=1)
data7['date']=pd.to_datetime(data7['date'])
data7['date']=data7['date'].dt.strftime('%m/%d/%y')

          region  ...            agg-provinces-preparedness-and-response
0    Balochistan  ...  316 newly arrived individuals screened and qua...
1    Balochistan  ...  316 newly arrived individuals screened and qua...
2          Sindh  ...  Staff deployed to designated quarantine facili...
3          Sindh  ...  Staff deployed to designated quarantine facili...
4        KP & TD  ...  24 High Dependency Units established across KP...
..           ...  ...                                                ...
161        Sindh  ...  Sindh Government has disbursed Rs.569.604 mill...
162       Punjab  ...  District level trainings of HDU/Isolation/Quar...
163           KP  ...  Data transcription on to the IPMS software hos...
164          AJK  ...  Out of 9 confirmed cases, 6 are local transmis...
165           GB  ...  Involvement of WHO staff to provide support in...

[166 rows x 4 columns]

In [0]:
data8.columns=data8.columns.str.strip().str.lower().str.replace(' ','-')
#data8=data8.drop(['no_heading'],axis=1)
data8['date']=pd.to_datetime(data8['date'])
data8['date']=data8['date'].dt.strftime('%m/%d/%y')

In [0]:
data9.columns=data9.columns.str.strip().str.lower().str.replace(' ','-')
#data9.drop(['no_heading'],axis=1,inplace=True)
#data9=data9.drop(['no_heading'],axis=1)
data9['date']=pd.to_datetime(data9['date'])
data9['date']=data9['date'].dt.strftime('%m/%d/%y')

In [0]:
writer =pd.ExcelWriter('final.xlsx')
data1.to_excel(writer,index=False,sheet_name='TimeSeries_KeyIndicators')
data2.to_excel(writer,index=False,sheet_name='TimeSeries_Action_Screen')
data3.to_excel(writer,index=False,sheet_name='TimeSeries_Action_Call')
data4.to_excel(writer,index=False,sheet_name='TimeSeries_COVID_News')
data5.to_excel(writer,index=False,sheet_name='TimeSeries_NIH_Response')
data6.to_excel(writer,index=False,sheet_name='TimeSeries_NIH_Risk')
data7.to_excel(writer,index=False,sheet_name='TimeSeries_Province_Response')
data8.to_excel(writer,index=False,sheet_name='TimeSeries_Helpline_Calls')
data9.to_excel(writer,index=False,sheet_name='TimeSeries_Quarantine_Details')
#workbook=writer.bookworksheet=writer.sheets['TimeSeries_KeyIndicators','TimeSeries_Action_Screen','TimeSeries_Action_Call','TimeSeries_COVID_News','TimeSeries_NIH_Response','TimeSeries_NIH_Risk','TimeSeries_Helpline_Calls','TimeSeries_Quarantine_Details','TimeSeries_Province_Response']
writer.save()